body {
    margin: 0;
    font-family: Arial;
    background: #0d0d0d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    text-align: center;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    background: #6366f1;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4f46e5;
}

.output img {
    margin-top: 20px;
    width: 320px;
    border-radius: 12px;
}
